.date {
    font-size: 3em;
    padding: 1%;
    border-radius: 5px;
    background-color: #1974da;
    opacity: 0.5;
    color: #ffffff;
}
.weather {
    margin-top: 1%;
    padding: 2%;
    font-size: 2em;
    border-radius: 5px;
    background-color: #208823;
    opacity: 0.75;
    color: #ffffff;
}